@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.app{
  color: #2c3e50;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 200;
}

small{
  font-size: 12px;
}

hr{
  margin-bottom: 0px;
  margin-top: 14px;
  color: #f4f4f4;
  height: 1px;
  background-color: #f4f4f4;
  border: none;
}

input{
  width: 80%;
  margin: 10px 5%;
  color: #2c3e50;
  padding-left: 15px;
  line-height: 30px;
  height: 35px;
  border: solid 1px #2c3e50;
  border-radius: 5px;
}

.submit-button{
    width: 85%;
    display: block;
    margin: 10px 5%;
    font-size: 18px;
    line-height: 30px;
    height: 40px;
    color: #2ecc71;
    background-color: #2c3e50;
    border: solid 1px #2c3e50;
    border-radius: 5px;
}

.user-wrapper{
  width: 25%;
  float: right;
}

.calendar-wrapper{
  width: 74%;
  float: left;
  margin-left: 10px;
  position: relative;
}

.input-wrapper{
  width: 25%;
  float: right;
}

.time-wrapper{
  width: 45px;
  text-align: right;
  padding-right: 5px;
}

.task-wrapper{
  max-width: 200px;
  background-color: #E2ECF5;
  border-left: solid 3px #6E9ECF;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0px;
  margin-left: 50px;
}

.task-wrapper p{
  margin: 0px 5px;
  font-size: 14px;
}
